<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>分类列表页</title>
    <link rel="stylesheet" href="/webjars/layui/css/layui.css">
    <link rel="stylesheet" href="/css/public.css">
</head>
<body class="child-body">
<div class="child-nav">
    <span class="layui-breadcrumb">
         <a>音书管理</a>
         <a><cite>分类列表</cite></a>
    </span>
    <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新" style="float:right;margin-top: 3px"><i class="layui-icon layui-icon-refresh-3"></i></a>
</div>

<div class="layui-row">
    <form  class="layui-form">
        <div class="layui-form-item search-row">
            <div class="layui-inline">
                <label class="search-label">分类名</label>
                <div class="search-input">
                    <input type="text" name="name" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn" lay-submit lay-filter="search"><i class="layui-icon">&#xe615;</i>查询</button>
            </div>
            <div class="layui-inline">
                <a sec:authorize="hasAuthority('clazz:add')" href="javascript:void(0)" type="button" id="add" class="layui-btn"><i class="layui-icon">&#xe608;</i>新增</a>
            </div>
        </div>
    </form>
</div>
<table class="layui-table" id="table" lay-filter="clazz"></table>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
</script>
<script src="/webjars/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['element','table','form'], function(){
        var table = layui.table,
            form = layui.form,
            $ = layui.$;

        //执行渲染
        table.render({
            elem: '#table' //指定原始表格元素选择器（推荐id选择器）
            ,url: '/ms/classifyList'
            ,id: 'cs'
            ,request: {
                limitName: 'size' //每页数据量的参数名，默认：limit
            }
            ,loading:true
            ,page: true //开启分页
            ,cols: [
                [{field: 'name', title: '分类名'}
                    ,{field: 'introduction', title: '分类描述'}
                    ,{field: 'createdTime', title: '创建时间'}
                    ,{field: 'updatedTime', title: '修改时间'}
                    ,{fixed: 'right', title:'操作', align:'center',width:'220', toolbar: '#bar'}]
            ]
        });

        //条件搜索
        form.on('submit(search)', function(data){
            var values = data.field;
            table.reload('cs', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: values
            });
            return false;
        });

        //监听工具条
        table.on('tool(clazz)', function(obj){
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if(layEvent === 'del'){ //删除
                layer.confirm('确定删除吗？',{title:'删除'}, function(index){
                    //向服务端发送删除指令
                    $.getJSON('/ms/classifyDel/'+data.id, function(ret){
                        if (ret.code == 200){
                            layer.msg(ret.msg, {icon: 1,time:600},function () {
                                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                            });
                        } else {
                            layer.msg(ret.msg, {icon: 2,time:600});
                        }
                    });
                    layer.close(index);
                });
            } else if(layEvent === 'edit'){ //编辑
                layer.open({
                    type: 2 //Page层类型
                    ,skin: 'layui-layer-molv'
                    ,area: ['380px', '270px']
                    ,title: ['分类信息','font-size:18px']
                    ,shadeClose: true
                    ,shade: 0 //遮罩透明度
                    ,maxmin: true //允许全屏最小化
                    ,content:'/ms/classifyAlt?id='+data.id
                });
            }
        });

        //新增窗口
        $('#add').on('click',function () {
            layer.open({
                type: 2 //Page层类型
                ,skin: 'layui-layer-molv'
                ,area: ['380px', '270px']
                ,title: ['分类信息','font-size:18px']
                ,shadeClose: true
                ,shade: 0 //遮罩透明度
                ,maxmin: true //允许全屏最小化
                ,content:'/ms/classifyAlt'
            });
        });
    });
</script>
</body>
</html>