<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>角色列表</title>
    <link rel="stylesheet" href="/webjars/layui/dist/css/layui.css">
    <link rel="stylesheet" href="/css/public.css">
</head>
<body class="child-body">
<div class="child-nav">
    <span class="layui-breadcrumb">
         <a>系统设置</a>
         <a><cite>角色列表</cite></a>
    </span>
    <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新" style="float:right;margin-top: 3px"><i class="layui-icon layui-icon-refresh-3"></i></a>
</div>

<div class="layui-row">
    <form  class="layui-form">
        <div class="layui-form-item search-row">
            <div class="layui-inline">
                <label class="search-label">角色名</label>
                <div class="search-input">
                    <input type="text" name="roleName" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="search-label">角色类型</label>
                <div class="search-input">
                    <select name="roleType">
                        <option value=""></option>
                        <option value="1">后台角色</option>
                        <option value="2">前台角色</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="search-label">是否可用</label>
                <div class="search-input">
                    <select name="available">
                        <option value=""></option>
                        <option value="0">停用</option>
                        <option value="1">正常</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn" lay-submit lay-filter="search"><i class="layui-icon">&#xe615;</i>查询</button>
                <button class="layui-btn" type="reset"><i class="layui-icon layui-icon-refresh"></i>重置</button>
            </div>
            <div class="layui-inline">
                <a sec:authorize="hasAuthority('POST_/sys/role')" href="javascript:void(0)" type="button" id="add" class="layui-btn"><i class="layui-icon">&#xe608;</i>新增</a>
            </div>
        </div>
    </form>
</div>

<table class="layui-table" id="table" lay-filter="roles"></table>

<script src="/webjars/layui/dist/layui.js"></script>
<script type="text/javascript">
    layui.use('table', function(){
        $ = layui.jquery;
        const form = layui.form,
            table = layui.table;

        //执行渲染
        table.render({
            elem: '#table' //指定原始表格元素选择器（推荐id选择器）
            ,url: '/sys/role'
            ,id: 're'
            ,request: {
                limitName: 'size' //每页数据量的参数名，默认：limit
            }
            ,loading:true
            ,page: true //开启分页
            ,cols: [
                [{field: 'roleName', title: '角色名', sort: true}
                    ,{field: 'roleCode', title: '标识符'}
                    ,{field: 'description', title: '角色描述'}
                    ,{field: 'roleType', title: '角色类型', templet: '#typeTpl'}
                    ,{field: 'available', title: '是否可用', templet: '#stateTpl'}
                    ,{fixed: 'right', title:'操作', align:'center',width:'310', toolbar: '#bar'}]
            ]
        });

        //条件搜索
        form.on('submit(search)', function(data){
            const values = data.field;
            table.reload('re', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: values
            });
            return false;
        });

        //监听工具条
        table.on('tool(roles)', function(obj){  //删除
            const $ = layui.$;
            //注：tool是工具条事件名，manager是table原始容器的属性 lay-filter="对应的值"
            const data = obj.data; //获得当前行数据
            const layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            const headers = {};
            headers['X-CSRF-TOKEN'] = "[[${_csrf.token}]]";

            if(layEvent === 'detail'){ //查看
                layer.open({
                    type: 2 //Page层类型
                    ,skin: 'layui-layer-molv'
                    ,area: ['400px', '500px']
                    ,title: ['角色权限','font-size:18px']
                    ,shadeClose: true
                    ,shade: 0 //遮罩透明度
                    ,maxmin: true //允许全屏最小化
                    ,content:'/sys/role/grant.html?roleId='+data.id+'&type=1'
                });
            } else if(layEvent === 'del'){
                layer.confirm('确定删除吗?',{title:'删除'}, function(){
                    $.ajax({
                        url: '/sys/role',
                        type: 'delete',
                        headers: headers,
                        data: {roleId: data.id},
                        dataType: 'json',
                        success: function(res) {
                            if (res.code == 0){
                                layer.msg(res.msg, {icon: 1,time:600},function () {
                                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                });
                            } else {
                                layer.msg(res.msg, {icon: 2,time:600});
                            }
                        }
                    })
                });
            } else if(layEvent === 'grant'){
                layer.open({
                    type: 2 //Page层类型
                    ,skin: 'layui-layer-molv'
                    ,area: ['400px', '510px']
                    ,title: ['角色授权','font-size:18px']
                    ,shadeClose: true
                    ,shade: 0 //遮罩透明度
                    ,maxmin: true //允许全屏最小化
                    ,content:'/sys/role/grant.html?roleId='+data.id+'&type=2'
                });
            } else if(layEvent === 'edit'){ //编辑
                layer.open({
                    type: 2 //Page层类型
                    ,skin: 'layui-layer-molv'
                    ,area: ['500px', '455px']
                    ,title: ['角色信息','font-size:18px']
                    ,shadeClose: true
                    ,shade: 0 //遮罩透明度
                    ,maxmin: true //允许全屏最小化
                    ,content:'/sys/role/edit.html?roleId='+data.id
                });
            }
        });

        //监听是否启用
        form.on('switch(switch)', function(obj){
            const id = $(this).attr('data-id');
            const _this = $(this);

            $.getJSON('/sys/role/toggle', {roleId:id}, function(ret){
                if (ret.code == 0){
                    layer.msg(ret.msg, {icon: 1,time:600});
                } else {
                    _this.prop("checked",!_this.prop("checked"));
                    form.render("checkbox");
                    layer.msg(ret.msg, {icon: 2,time:600});
                }
            }).fail(function(jqXHR) {
                _this.prop("checked",!_this.prop("checked"));
                form.render("checkbox");
                if (jqXHR.status == 403) {
                    layer.msg('抱歉，您没有权限', {icon: 2,time:600});
                } else {
                    layer.msg('未知错误', {icon: 2,time:600});
                }
            });
        });

        //新增角色窗口
        $('#add').on('click',function () {
            layer.open({
                type: 2 //Page层类型
                ,skin: 'layui-layer-molv'
                ,area: ['500px', '455px']
                ,title: ['角色信息','font-size:18px']
                ,shadeClose: true
                ,shade: 0 //遮罩透明度
                ,maxmin: true //允许全屏最小化
                ,content:'/sys/role/edit.html'
            });
        });

    });
</script>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="detail"><i class="layui-icon iconfont icon-view"></i>查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="grant" ><i class="layui-icon layui-icon-auz"></i>授权</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
</script>

<script type="text/html" id="typeTpl">
    {{#  if(d.roleType == 'administrator'){ }}
    后台角色
    {{#  } else { }}
    前台角色
    {{#  } }}
</script>
<script type="text/html" id="stateTpl">
    <input type="checkbox" name="available" value="{{d.available}}" lay-skin="switch" lay-text="启用|停用" data-id={{d.id}} lay-filter="switch" {{ d.available ? 'checked' : '' }}>
</script>
</body>
</html>