<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>轮播图分类编辑页</title>
    <link rel="stylesheet" href="/webjars/layui/css/layui.css">
    <link rel="stylesheet" href="/css/public.css">
</head>
<body class="child-body">

<div class="layui-col-md12">
    <form class="layui-form" action="/ms/saveCarousel" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-inline">
                <input type="text" name="title" th:value="${carouselCategory.title}" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标识符</label>
            <div class="layui-input-inline">
                <input type="text" name="id" th:value="${carouselCategory.id}" th:readonly="${carouselCategory.id!=null}" required lay-verify="required" placeholder="请输入唯一标识符" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <input type="text" name="remark" th:value="${carouselCategory.remark}" placeholder="描述内容" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="save" th:text="${#strings.equals(carouselCategory.id,null)?'保存':'修改'}"></button>
                <button type="button" class="layui-btn layui-btn-primary close">关闭</button>
            </div>
        </div>
    </form>
</div>

<script src="/webjars/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['element','form','upload'], function(){
        $ = layui.jquery;
        var form = layui.form;

        //监听提交
        form.on('submit(save)', function(data){
            var headers = {};
            headers['X-CSRF-TOKEN'] = "[[${_csrf.token}]]";
            $.ajax({
                url:data.form.action,
                type:data.form.method,
                headers: headers,
                data:data.field,
                dataType:'json',
                beforeSend:function() {
                    $("#save").attr("disabled","true");
                },
                success:function(result){
                    if(result.code == 200){
                        layer.msg(result.msg, {icon: 1,time:600}, function () {
                            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                            parent.location.reload();
                            parent.layer.close(index);
                        });
                    }else{
                        layer.msg(result.msg,{time:1000});
                    }
                }
            });
            return false;
        });

        $("button.close").on('click', function () {
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);
        });

    });
</script>
</body>
</html>