<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员详情页</title>
    <link rel="stylesheet" href="/webjars/layui/css/layui.css">
</head>
<body>
<div class="layui-col-md12">
    <table class="layui-table" lay-skin="line">
        <tbody>
        <tr>
            <td>用户名：</td>
            <td th:text="${manager.username}"></td>
            <td>真实姓名：</td>
            <td th:text="${manager.realName}"></td>
        </tr>
        <tr>
            <td>性别：</td>
            <td th:text="${manager.gender==1}?'男':'女'"></td>
            <td>状态：</td>
            <td th:switch="${manager.state}">
                <span th:case="0">初始化</span>
                <span th:case="1">正常</span>
                <span th:case="2">封禁</span>
            </td>
        </tr>
        <tr>
            <td>生日：</td>
            <td th:text="${#dates.format(manager.birthday,'yyyy-MM-dd')}"></td>
            <td>头像：</td>
            <td><img th:src="${manager.avatar}" /></td>
        </tr>
        <tr>
            <td>创建时间：</td>
            <td th:text="${#dates.format(manager.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td>修改时间：</td>
            <td th:text="${#dates.format(manager.updateTime,'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        <tr>
            <td>角色：</td>
            <td colspan="3"><span th:each="role:${manager.roleList}" th:text="${role.getRoleName()}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="/webjars/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['element'], function(){
        $ = layui.jquery;

        $("button.close").on('click', function () {
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);
        });
    });
</script>
</body>
</html>