<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>管理员列表</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body class="childrenBody">
<table class="layui-table" lay-filter="managers">
    <thead>
    <tr>
        <th lay-data="{field:'username', sort:true}">用户名</th>
        <th lay-data="{field:'realName'}">真实姓名</th>
        <th lay-data="{field:'gender'}">性别</th>
        <th lay-data="{field:'birthday'}">生日</th>
        <th lay-data="{field:'state'}">状态</th>
        <th lay-data="{field:'createTime', sort:true}">创建时间</th>
        <th lay-data="{field:'updateTime', sort:true}">修改时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="manager:${managerList}" th:switch="${manager.state}">
        <td th:text="${manager.username}"></td>
        <td th:text="${manager.realName}"></td>
        <td th:text="${#strings.equals(manager.gender,'1')?'男':'女'}"></td>
        <td th:text="${#dates.format(manager.birthday, 'yyyy-MM-dd')}"></td>
        <td th:case="'0'">初始化</td><td th:case="'1'">正常</td><td th:case="'2'">封禁</td><td th:case="*"></td>
        <td th:text="${manager.createTime}"></td>
        <td th:text="${manager.updateTime}"></td>
        <td><a sec:authorize="hasAuthority('admin')" class="remove" th:attr="data-id=${manager.id}" href="javascript:void(0);">删除</a></td>
    </tr>
    </tbody>
</table>
<div id="pag"></div>
<script src="/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['laypage','table'], function(){
        var table = layui.table;
       //转换静态表格
        table.init('managers', {
            limit: 10, //注意：请务必确保 limit 参数（默认：10）是与你服务端限定的数据条数一致
            page:{count:11}
        });
        var tableObj = table.render({});
        tableObj.reload({
            url:'/sys/admins',
            page:true,
            limit: 10
        }); //重载表格
        $ = layui.jquery;
    });
</script>
</body>
</html>