<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员编辑页</title>
    <link rel="stylesheet" href="/webjars/layui/css/layui.css">
    <link rel="stylesheet" href="/css/public.css">
</head>
<body class="child-body">
<input type="hidden" id="ctm" th:value="${currentId}">
<div class="child-nav">
    <span class="layui-breadcrumb">
         <a>系统设置</a>
         <a href="/sys/adminList">管理员列表</a>
        <a><cite th:text="${#strings.equals(manager.id,null)?'新增管理员':'修改管理员'}"></cite></a>
    </span>
    <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新" style="float:right;margin-top: 3px"><i class="layui-icon layui-icon-refresh-3"></i></a>
</div>
<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-header" th:text="${#strings.equals(manager.id,null)?'新增管理员':'修改管理员'}"></div>
        <div class="layui-card-body">
            <form class="layui-form" action="/sys/manager">
                <input type="hidden" id="altId" name="id" th:value="${manager.id}">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" th:readonly="${manager.id!=null&&manager.id!=session.SPRING_SECURITY_CONTEXT.authentication.principal.id}" lay-verify="required" lay-vertype="tips" placeholder="请输入用户名" th:value="${manager.username}" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux" th:if="${manager.id==null}">新增用户默认密码为：123456</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">真实姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="realName" placeholder="请输入真实姓名" th:value="${manager.realName}" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="gender" value="1" title="男" checked>
                        <input type="radio" name="gender" value="2" title="女" th:checked="${manager.gender==2}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">生日</label>
                    <div class="layui-input-inline">
                        <input type="text" id="birthday" name="birthday" th:value="${#temporals.format(manager.birthday,'yyyy-MM-dd')}" placeholder="出生年月" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" th:if="${manager.state!=null}">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select name="state" lay-verify="required" th:if="not ${#strings.equals(manager.id,currentId)}">
                            <option value="0" th:disabled="${manager.state!=0}">初始化</option>
                            <option value="1" th:disabled="${manager.state==0}" th:selected="${manager.state==1}">正常</option>
                            <option value="2" th:selected="${manager.state==2}">封禁</option>
                        </select>
                        <select name="state" lay-verify="required" th:if="${#strings.equals(manager.id,currentId)}">
                            <option value="0" disabled="disabled">初始化</option>
                            <option value="1" disabled="disabled" th:selected="${manager.state==1}">正常</option>
                            <option value="2" disabled="disabled" th:selected="${manager.state==2}">封禁</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">头像</label>
                    <div class="layui-input-inline">
                        <input type="text" name="avatar" id="af" class="layui-input" th:value="${manager.avatar}">
                    </div>
                    <div class="layui-upload">
                        <button type="button" class="layui-btn" id="avatar"><i class="layui-icon">&#xe681;</i>上传图片</button>
                        <div class="layui-upload-list" style="padding-left: 110px">
                            <img class="layui-upload-img layui-circle" style="max-width: 120px;max-height: 120px" id="avatar-view" th:src="${manager.avatar}">
                            <p id="demoText"></p>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">角色</label>
                    <div class="layui-input-block" th:if="${not #strings.equals(manager.id,currentId)}">
                        <input type="checkbox" th:each="role:${roles}" th:name="'roleIds['+${role.id}+']'" th:checked="${#strings.contains(checkRoleId, role.id)}" th:value="${role.id}" th:title="${role.roleName}" th:disabled="${not #strings.contains(optionRoles, role.id)}">
                    </div>
                    <div class="layui-input-block" th:if="${#strings.equals(manager.id,currentId)}">
                        <input type="checkbox" th:name="'roleIds['+${role.id}+']'" th:each="role:${manager.roleList}" th:title="${role.getRoleName()}" th:value="${role.id}" checked="checked" disabled>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button id="save" class="layui-btn" lay-submit lay-filter="save" th:text="${#strings.equals(manager.id,null)?'保存':'修改'}"></button>
                        <a href="javascript:history.back()" type="button" class="layui-btn layui-btn-primary">返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/webjars/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['element','form','laydate','upload'], function(){
        $ = layui.jquery;
        const form = layui.form,
            laydate = layui.laydate,
            upload = layui.upload;

        //执行一个laydate实例
        laydate.render({
            elem: '#birthday' //指定元素
            ,theme: 'grid'
            ,min: '1960-1-1'
            ,max: 0
        });

        //上传文件
        upload.render({
            elem: '#avatar'
            ,url: '/sys/upload'
            ,size: 600 //限制文件大小，单位 KB
            // ,auto: false
            // ,bindAction: '#testListAction' //指向一个按钮触发上传
            ,accept: 'images' //普通文件
            ,exts: 'jpg|jpeg|png' //只允许上传图片
            ,acceptMime:'image/*'
            ,before: function(obj){
                this.data={
                    "[[${_csrf.parameterName}]]": "[[${_csrf.token}]]"
                },
                    //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#avatar-view').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                if(res.code == 0){
                    $('#af').val(res.data);
                }else{
                    return layer.msg('上传失败');
                }
            }
        });

        //监听提交
        form.on('submit(save)', function(data){
            const headers = {};
            headers['X-CSRF-TOKEN'] = "[[${_csrf.token}]]";
            const methodType = $('#id').val() == undefined || $('#id').val() == ''?'post':'put';
            $.ajax({
                url:data.form.action,
                type:methodType,
                headers: headers,
                data:data.field,
                dataType:'json',
                beforeSend:function() { //触发ajax请求开始时执行
                    $("#save").attr("disabled","true"); //改变提交按钮上的文字并将按钮设置为不可点击
                },
                success:function(result){
                    if(result.code == 0){
                        layer.msg(result.msg, {icon: 1,time:600}, function () {
                            if($('#ctm').val()==$('#altId').val()){
                                parent.$('#my-avatar').attr('src',data.field.avatar);
                                parent.$('#my-name').html(data.field.username);
                            }
                            location.href="/sys/manager.html";
                        });
                    }else{
                        layer.msg(result.msg,{time:1000});
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>