@import "https://at.alicdn.com/t/font_594558_g140ya4hgdlpu8fr.css";
.child-body{ padding: 10px 15px 15px 15px }
.child-nav{ position: relative;border-bottom: 1px solid #e5e5e5;overflow: hidden;height: 39px;line-height: 39px;margin-bottom: 15px}
.search-row{ padding: 7px 0px;background-color:#f2f2f2 }
.search-label{ float:left;display: block;text-align: right;padding: 9px 5px;font-weight: 400;line-height: 20px}
.search-input{ float:left;display: inline-block;vertical-align: middle;width: 110px;margin-right: 2px}