<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>公告列表</title>
    <link rel="stylesheet" href="/webjars/layui/css/layui.css">
    <link rel="stylesheet" href="/css/public.css">
</head>
<body class="child-body">

<div class="child-nav">
    <span class="layui-breadcrumb">
         <a>音书管理</a>
         <a><cite>公告列表</cite></a>
    </span>
    <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新" style="float:right;margin-top: 3px"><i class="layui-icon layui-icon-refresh-3"></i></a>
</div>

<div class="layui-row">
    <form  class="layui-form">
        <div class="layui-form-item search-row">
            <div class="layui-inline">
                <label class="search-label">标题</label>
                <div class="search-input">
                    <input type="text" name="title" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="search-label">展示时间</label>
                <div class="date-input">
                    <input type="text" name="showTime" class="layui-input time-item" placeholder="展示时间">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn" lay-submit lay-filter="search"><i class="layui-icon">&#xe615;</i>查询</button>
            </div>
            <div class="layui-inline">
                <a sec:authorize="hasAuthority('not:add')" href="javascript:void(0)" type="button" id="add" class="layui-btn"><i class="layui-icon">&#xe608;</i>新增</a>
            </div>
        </div>
    </form>
</div>

<table class="layui-table" id="table" lay-filter="notice"></table>

<script src="/webjars/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['element','table','form','laydate'], function(){
        var table = layui.table,
            laydate = layui.laydate,
            form = layui.form,
            $ = layui.$;

        //执行渲染
        table.render({
            elem: '#table' //指定原始表格元素选择器（推荐id选择器）
            ,url: '/ms/noticeList'
            ,id: 'nc'
            ,request: {
                limitName: 'size' //每页数据量的参数名，默认：limit
            }
            ,loading:true
            ,page: true //开启分页
            ,cols: [
                [{field: 'title', title: '标题',width:202}
                    ,{field: 'content', title: '内容',width:700}
                    ,{field: 'beginTime', title: '展示开始时间',width:160}
                    ,{field: 'endTime', title: '展示结束时间',width:160}
                    ,{field: 'updatedBy',title: '修改人',width:80}
                    ,{field: 'updatedTime', title: '修改时间',width:160}
                    ,{fixed: 'right',title:'操作', align:'center',width:'220', toolbar: '#bar'}]
            ]
        });

        //条件搜索
        form.on('submit(search)', function(data){
            var values = data.field;
            table.reload('nc', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: values
            });
            return false;
        });

        //绑定时间选择器
        lay('.time-item').each(function(){
            laydate.render({
                elem: this,
                type: 'datetime',
                trigger: 'click'
            });
        });

        //监听工具条
        table.on('tool(notice)', function(obj){ //注：tool是工具条事件名，user是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

            if(layEvent === 'del'){ //删除
                var $ = layui.$;
                layer.confirm('确定删除吗？',{title:'删除'}, function(index){
                    //向服务端发送删除指令
                    $.getJSON('/ms/noticeDel/'+data.id, function(ret){
                        if (ret.code == 200){
                            layer.msg(ret.msg, {icon: 1,time:600},function () {
                                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                            });
                        } else {
                            layer.msg(ret.msg, {icon: 2,time:600});
                        }
                    });
                    layer.close(index);
                });
            } else if(layEvent === 'edit'){ //编辑
                layer.open({
                    type: 2 //Page层类型
                    ,skin: 'layui-layer-molv'
                    ,area: ['430px', '432px']
                    ,title: ['公告信息','font-size:18px']
                    ,shadeClose: true
                    ,shade: 0 //遮罩透明度
                    ,maxmin: true //允许全屏最小化
                    ,content:'/ms/noticeAlt?id='+data.id
                });
            }
        });
        //新增角色窗口
        $('#add').on('click',function () {
            layer.open({
                type: 2 //Page层类型
                ,skin: 'layui-layer-molv'
                ,area: ['430px', '432px']
                ,title: ['公告信息','font-size:18px']
                ,shadeClose: true
                ,shade: 0 //遮罩透明度
                ,maxmin: true //允许全屏最小化
                ,content:'/ms/noticeAlt'
            });
        });
    });
</script>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe642;</i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
</script>
</body>
</html>