<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>登录</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="refresh" content="60" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="/webjars/layui/dist/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/css/login.css" media="all"/>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>
</head>
<body>
<video class="video-player" preload="auto" autoplay="autoplay" loop="loop">
    <source src="/media/login.mp4" type="video/mp4" />
</video>
<div class="video_mask"></div>
<div class="login">
    <h1>后台管理登录</h1>
    <form class="layui-form" action="/login" method="post">
        <div class="layui-form-item">
            <input class="layui-input" id="username" name="username" placeholder="用户名:vip" lay-verify="required" type="text" autocomplete="off" />
        </div>
        <div class="layui-form-item">
            <input class="layui-input" id="password" name="password" placeholder="密码:123456" lay-verify="required" type="password" autocomplete="off" />
        </div>
        <div class="layui-form-item form_code">
            <input class="layui-input" name="captcha" placeholder="验证码" lay-verify="required" type="text" autocomplete="off" />
            <div class="code"><img src="/captcha" onclick="random(this)" width="116" height="36" id="vdc" title="看不清,点击换一张" /></div>
        </div>
        <button class="layui-btn login_btn" lay-submit="" lay-filter="login">登录</button>
        <input id="remember-me" name="remember-me" type="checkbox" value="true" title="记住我" />
    </form>
</div>
<script type="text/javascript" src="/webjars/layui/dist/layui.js"></script>
<script>
    layui.use(['element','form','layer'],function(){
        $ = layui.jquery;
        const form = layui.form,
            layer = layui.layer;

        form.on('submit(login)', function (data) {
            const index = layer.load(0);
            const headers = {};
            headers['X-CSRF-TOKEN'] = "[[${_csrf.token}]]";
            $.ajax({
                url:data.form.action,
                type:data.form.method,
                headers: headers,
                data:data.field,//这是是要提交的参数
                dataType:'json',
                success:function(data){
                    if(data.code == 0){
                        layer.close(index);
                        location.href="/";
                    }else{
                        random($('#vdc')[0]);
                        layer.close(index);
                        layer.msg(data.msg,{time:1000});
                    }
                }
            });
            return false;
        });

    });

    //跳出 iframe 框架
    if (window != top)
        top.location.href = location.href;
    //获取验证码
    function random(tmp){
        tmp.src="/captcha?_"+Date.now();
    }
</script>
</body>
</html>