<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>菜单列表</title>
  <link rel="stylesheet" href="/webjars/layui/dist/css/layui.css">
  <link rel="stylesheet" href="/css/public.css">
</head>
<body class="child-body">
<div class="child-nav">
    <span class="layui-breadcrumb">
         <a>系统设置</a>
         <a><cite>菜单列表</cite></a>
    </span>
  <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新" style="float:right;margin-top: 3px"><i class="layui-icon layui-icon-refresh-3"></i></a>
</div>

<div class="layui-row">
  <div class="layui-form">
    <div class="layui-form-item search-row">
      <div class="layui-inline">
        <a sec:authorize="hasAuthority('POST_/sys/menu')" th:href="@{/sys/menu/edit.html}" type="button" class="layui-btn"><i class="layui-icon">&#xe608;</i>新增菜单</a>
      </div>
    </div>
  </div>
</div>

<table class="layui-hide" id="menuTable"></table>
<script type="text/html" id="menuTable-tools">
  <div class="layui-btn-container">
<!--    <a sec:authorize="hasAuthority('POST_/sys/menu')" class="layui-btn layui-btn-xs" th:href="@{'/sys/menu/edit.html?parentId='+${menu.id}}" th:unless="${#strings.equals(menu.resourceType,'button')}"><i class="layui-icon">&#xe61f;</i>添加子菜单</a>-->
<!--    <a sec:authorize="hasAuthority('PUT_/sys/menu')" class="layui-btn layui-btn-xs" th:href="@{'/sys/menu/edit.html?menuId='+${menu.id}}"><i class="layui-icon">&#xe642;</i>编辑</a>-->
    <a class="layui-btn layui-btn-danger layui-btn-xs remove" lay-event="delete"><i class="layui-icon">&#xe640;</i>删除</a>
  </div>
</script>

<script src="/webjars/layui/dist/layui.js"></script>
<script>
  layui.use(function(){
    var treeTable = layui.treeTable;
    var layer = layui.layer;
    // 渲染
    var inst = treeTable.render({
      elem: '#menuTable',
      url: '/sys/menu',
      tree: {
        /*
        // 异步加载子节点
        async: {
          enable: true,
          url: '/static/json/2/treeTable/demo-async.json', // 此处为静态模拟数据，实际使用时需换成真实接口
          autoParam: ["parentId=id"]
        }
        */
      },
      maxHeight: '501px',
      toolbar: '#menuTable-tools',
      cols: [[
        {field: 'name', title: '菜单名称', width: 180, fixed: 'left'},
        {field: 'httpMethod', title: '权限标识', width: 80, sort: true},
        {field: 'url', title: '链接地址', width: 200, sort: true},
        {field: 'resourceType', title: '菜单类型', width: 80},
        {field: 'icon', title: '菜单图标', width: 50},
        {field: 'sort', title: '排序', width: 60},
        {fixed: "right", title: '操作', width: 190, align: "center", toolbar: '#menuTable-tools'}
      ]],
      page: false
    });
    // 单元格工具事件
    treeTable.on('tool('+ inst.config.id +')', function (obj) {
      const layEvent = obj.event; // 获得 lay-event 对应的值
      if (layEvent === "delete") {
        const headers = {};
        headers['X-CSRF-TOKEN'] = "[[${_csrf.token}]]";
        layer.confirm('确定删除吗?',{title:'若有下级菜单则也会被删除'}, function (index) {
          $.ajax({
            url: '/sys/menu',
            type: 'delete',
            headers: headers,
            data: {menuId: data.id},
            dataType: 'json',
            success: function(res) {
              if (res.code === 0){
                layer.msg(res.msg, {icon: 1,time:600},function () {
                  obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                });
              } else {
                layer.msg(res.msg, {icon: 2,time:600});
              }
            }
          })
          layer.close(index);
        });
      }
    });
  });
</script>

</body>
</html>