<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>菜单编辑页</title>
    <link rel="stylesheet" href="/webjars/layui/css/layui.css">
    <link rel="stylesheet" href="/css/public.css">
</head>
<body class="child-body">
<div class="child-nav">
    <span class="layui-breadcrumb">
         <a>系统设置</a>
         <a href="/sys/menuList">菜单列表</a>
        <a><cite th:text="${#strings.equals(menu.id,null)?'新增菜单':'修改菜单'}"></cite></a>
    </span>
    <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新" style="float:right;margin-top: 3px"><i class="layui-icon layui-icon-refresh-3"></i></a>
</div>
<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-header" th:text="${#strings.equals(menu.id,null)?'新增菜单':'修改菜单'}"></div>
        <div class="layui-card-body">
            <form class="layui-form" action="/sys/menuSave" method="post">
                <input type="hidden" name="id" id="mid" th:value="${menu.id}">
                <input type="hidden" name="parentId" th:value="${menu.parentId}" />
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" lay-verify="required" lay-vertype="tips" th:value="${menu.name}" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">权限标识</label>
                    <div class="layui-input-inline">
                        <input type="text" name="purview" lay-verify="required" lay-vertype="tips" th:value="${menu.purview}" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">规则：模块名+:功能名 例：sys:add</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">资源类型</label>
                    <div class="layui-input-inline">
                        <select name="resourceType" lay-verify="required">
                            <option value="menu">菜单</option>
                            <option value="button" th:selected="${#strings.equals(menu.resourceType,'button')}">按钮</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">父级菜单</label>
                    <div class="layui-input-inline">
                        <input type="text" th:value="${#strings.equals(parentName,'')?'顶层菜单':parentName}" readonly="readonly" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">跳转地址</label>
                    <div class="layui-input-inline">
                        <input type="text" name="url" class="layui-input" th:value="${menu.url}" autocomplete="off">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">图标</label>
                    <div class="layui-input-inline">
                        <input type="text" name="icon" class="layui-input" th:value="${menu.icon}" autocomplete="off">
                        <!--<i class="layui-icon" th:utext="${menu.icon}"></i>-->
                    </div>
                    <div class="layui-form-mid layui-word-aux">图标只对菜单起作用，这块本想做成下拉框的效果 然后图标跟表格一样排列在下面任由选择，奈何，哎！流下了没有技术的泪水</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-inline">
                        <input type="number" name="sort" lay-verify="sort" lay-vertype="tips"  class="layui-input" th:value="${menu.sort}" autocomplete="off">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" id="save" lay-submit lay-filter="save" th:text="${#strings.equals(menu.id,null)?'保存':'修改'}"></button>
                        <a href="/sys/menuList" type="button" class="layui-btn layui-btn-primary">返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/webjars/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['element','form'], function(){
        $ = layui.jquery;
        var form = layui.form;

        //表单校验
        form.verify({
            // 校验原始密码
            sort:[
                /^(?:0|[1-9][0-9]*)$/
                ,'排序号必须是大于等于0的整数'
            ],
        });
        //监听提交
        form.on('submit(save)', function(data){
            var headers = {};
            headers['X-CSRF-TOKEN'] = "[[${_csrf.token}]]";
            $.ajax({
                url:data.form.action,
                type:data.form.method,
                headers: headers,
                data:data.field,
                dataType:'json',
                beforeSend:function() { //触发ajax请求开始时执行 防止重复提交
                    $("#save").attr("disabled","true"); //改变提交按钮上的文字并将按钮设置为不可点击
                },
                success:function(data){
                    if(data.code == 200){
                        layer.msg(data.msg, {icon: 1,time:600}, function () {
                            location.href="/sys/menuList";
                        });
                    }else{
                        layer.msg(data.msg,{time:1000});
                    }
                }
            });
            return false;
        });

    });
</script>
</body>
</html>