server:
  port: 8070
  # 开启 gzip 压缩
  compression:
    enabled: true
  # 开启 http2 支持 只在https下起作用
  http2:
    enabled: true

spring:
  jpa:
    database: MYSQL
    show-sql: false
    generate-ddl: true
    hibernate:
      ddl-auto: update

  #数据源
  datasource:
    url: jdbc:mysql://localhost:3306/music_story?serverTimezone=UTC&characterEncoding=utf-8&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: 12345678
    driverClassName: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    # 下面为连接池的补充设置，应用到上面所有数据源中
    druid:
      # 初始化大小，最小，最大
      initialSize: 5
      minIdle: 5
      maxActive: 20
      # 配置获取连接等待超时的时间
      maxWait: 60000
      validationQuery: SELECT 1
      # 打开PSCache，并且指定每个连接上PSCache的大小
      poolPreparedStatements: true
      maxPoolPreparedStatementPerConnectionSize: 20
      # 配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall' 用于防火墙
      filter:
        stat:
          merge-sql: true
          db-type: mysql
          slow-sql-millis: 1000
          log-slow-sql: true
        #配置 wall filter
        wall:
          db-type: mysql
      # 合并多个DruidDataSource的监控数据
      useGlobalDataSourceStat: true

  jackson:
    date-format: yyyy-MM-dd HH:mm:ss

  #邮件配置
  mail:
    host: smtp.qq.com
    port: 465
    username: 531237716@qq.com
    password: ENC(i4zMO8N0ihz2sXZtcCMoDXId6gEW2xH4uv6p01hPxtCYm+aCZIfD9I26MQKkB2tIZiRGXg5aiP+slVPS+rMKhg==)
    properties:
      mail:
        smtp:
          port: 465
          auth: true
          starttls:
            enable: true
            required: true
          socketFactory:
            class: javax.net.ssl.SSLSocketFactory

jwt:
  secret: ngcly
  expiration: 3600

#私人密钥配置
oss:
  config:
    host: https://oss-cn-hongkong-internal.aliyuncs.com
    bucketName: music-story
    accessKeyId: ENC(BFmGqMfhERt8BVG81BuQFAI4L165TxyjahwvlTGx9QnjkKAWytNvhhtfiajw1mhsGTLh5JErMOFrjltogIkOUg==)
    accessKeySecret: ENC(Ng+yTJPV6RPseJCbuVbk2vqwElnl5fdddl22TAYCvyOVoHSjINi9Tk01j+8CLmozS/ysp3gWFbU5Ock4znKENw==)
    endpoint: oss.ngcly.cn

springdoc:
  packagesToScan: com.cn.controller
  pathsToMatch: /**
  show-actuator: true
  swagger-ui:
    enabled: true